__pycache__/
*.py[cod]
*$py.class

*.so

.ipynb_checkpoints/
*.ipynb_checkpoints
*.nbconvert.ipynb
*.checkpoint.ipynb

data/

training_checkpoints/

*.png
*.jpg
*.jpeg

.DS_Store
Thumbs.db
.vscode/
.idea/

build/
dist/
*.egg-info/

*.env
.env*
.secret*